web/node_modules/.cache/
api/composer.json
web/node_modules/.cache/.eslintcache
web/package.json
web/build/asset-manifest.json
web/build/asset-manifest.json
web/build/index.html
web/build/static/js/2.4bd6ff5f.chunk.js
web/build/static/js/2.4bd6ff5f.chunk.js.LICENSE.txt
web/build/static/js/2.4bd6ff5f.chunk.js.map
web/build/static/js/2.6757012f.chunk.js
web/build/static/js/2.6757012f.chunk.js.LICENSE.txt
web/build/static/js/2.6757012f.chunk.js.map
web/build/static/js/3.3b779f2b.chunk.js
api/composer.lock
.ionide/symbolCache.db
api/composer.lock
web/build/asset-manifest.json
web/build/index.html
web/build/static/js/2.4bd6ff5f.chunk.js
web/build/static/js/2.4bd6ff5f.chunk.js.LICENSE.txt
web/build/static/js/2.4bd6ff5f.chunk.js.map
web/build/static/js/3.3b779f2b.chunk.js
web/node_modules/.cache/.eslintcache
api/composer.lock
composer.json
.gitignore
composer.phar
vendor/
vendor/
composer.lock
web/node_modules/.cache/.eslintcache
web/node_modules/.cache/.eslintcache
web/node_modules/react-script-tag/.npmignore
web/node_modules/react-script-tag/CHANGELOG.md
web/node_modules/react-script-tag/LICENSE
web/node_modules/react-script-tag/README.md
