/***** FONTS ****/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface");

.noto {
  font-family: "Noto Sans", sans-serif;
}
.fjalla {
  font-family: "Fjalla One", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
.monserrat {
  font-family: "Montserrat";
}

/***** BODY y CONTAINERS *****/
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #34495e;
  margin: 0px;
}
div#CatalogPage,
div#AboutUsPage,
div#CartPage{
  margin-top: 120px;
  margin-bottom: 50px;
}
div#LandingPage {
  margin-top: 88px;
}
img.cartThumbnail {
  max-height: 80px;
  width: auto;
}
tr.cartRows {
  background-color: #eee;
  vertical-align: middle;
  text-transform: uppercase;
}
input.cartInput {
  text-align: center;
}
div.section-title h4 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
div#formDatosEnvio {
  font-size: 22px;
}
div#formDatosEnvio h5 {
  margin-top: 10px;
}
div.backgroundResumenPedido {
  padding: 30px;
  background-color: #ccc;
  border: 1px dotted #333;
  height: 100%;
}
/***** NAVBAR *****/
nav.navbar-default {
  background-color: #100b0b !important;
  box-sizing: border-box;
  color: #34495e;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 70px;
  padding-bottom: 10px;
  padding-top: 5px;
  position: relative;
  text-size-adjust: 100%;
  top: 0px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: right;
}
nav.navbar-default div.navbar-brand {
  float: left;
}
a.nav-link {
  color: #fff !important;
  font-size: 22px;
  margin-right: 20px;
}
nav.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

img.navbar-logo {
  display: block;
  height: auto;
  margin: 5px 5px 5px 25px;
}

a.category_link {
  text-decoration: none;
  color: #333;
}

/***** Pages *****/
div.page div.main-txt {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 24px !important;
  color: #000;
}

div.highlight {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  width: 45%;
  border-left: 4px solid #fff;
  padding: 10px;
  margin-left: 20px;
  border-radius: 25px;
}
div.team-member {
  text-align: center;
}

div.team-member img {
  width: 160px;
  height: 160px;
  border: 5px solid #fff;
  margin-right: 44px !important;
  display: inline-block;
}

div.gameBox {
  padding-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 30%;
  border: solid 3px #999;
}
div.gameBox:hover {
  cursor: pointer;
  -moz-box-shadow: 0 0 20px #ff0000;
  -webkit-box-shadow: 0 0 20px #ff0000;
  box-shadow: 0 0 20px #ff0000;
  border: solid 3px #ff0000;
}

img.about-game {
  position: relative;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* bottom: -100px; */
}
img.rounded-circle {
  border-radius: 50% !important;
}
/***** Page AboutUs *****/
div#AboutUsPage {
  font-size: 20px;
}
span.salutation {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
div.box-juegos {
  border: 1px solid #fff;
}
div.logo-sucesos,
div.logo-arsdomino,
div.logo-nomnoms {
  width: 74%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.logo-sucesos img,
div.logo-arsdomino img,
div.logo-nomnoms img {
  display: block;
  max-width: 66%;
  height: auto;
  margin-bottom: 6px;
}
div#boxAboutSucesos:hover,
div#boxAboutArs:hover,
div#boxAboutNoms:hover {
  cursor: pointer;
  border: 1px solid #cd2d10;
}
div.box-juegos div.tagline-sucesos {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #352f31;
  text-align: center;
  font-weight: bold;
}
div.box-juegos div.tagline-arsdomino {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
div.box-juegos div.tagline-nomnoms {
  width: 80%;
  margin-left: 30px;
  margin-top: 25px;
  color: #f0f453;
  text-align: center;
  font-weight: bold;
}
div.box-juegos img.logo-juego {
  width: 100%;
}
.title-txt {
  margin-top: 70px;
  font-size: 60px;
  letter-spacing: 5px;
  font-kerning: normal;
  margin-bottom: 50px;
  color: #333;
  font-family: "Anton", sans-serif;
}

/***** Page Catalogo *****/
ul.catalogo_categorias {
  text-align: right;
  margin-bottom: 50px;
}
ul.catalogo_categorias li {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  color: #111111;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

div.product_item {
  flex: 0 0 33%;
  max-width: 33%;
  height: 400px;
  margin-bottom: 40px;
  position: relative;
}
div.product_item .label {
  font-size: 11px;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 2px 8px;
  text-transform: uppercase;
  position: absolute;
  left: 5px;
  top: 15px;
  z-index: 10;
}
div.product_item div.product_item_pic {
  min-height: 300px;
  background-repeat: no-repeat;
  border: 1px solid #CCC;
}
div.product_item div.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-out;
  background-color: #cd2d10;
  display: flex;
  align-items: flex-end;
}
div.product_item div.overlay div {
  width: 100%;
  display: block;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-style: italic;
  padding: 10px;
}
div.product_item div.overlay span {
  text-decoration: none;
}
div.product_item:hover div.overlay {
  opacity: 0.9;
  cursor: pointer;
}
div.product_item .label.new {
  background: #36a300;
}
div.product_item .label.combo {
  background: #000099;
}
div.product_item .label.stockout {
  background: #990000;
}
div.product_item div.product_item_text {
  text-align: center;
  padding-top: 22px;
  text-decoration: none;
}
div.product_item div.product_item_text a {
  font-size: 18px;
  color: #111;
  font-weight: 400;
  text-decoration: none;
}
div.product_item div.product_price {
  color: #111;
  font-size: 22px;
  font-weight: 900;
}
div.product_item span.stats {
  font-size: 14px;
  color: yellow;
}

/*** Landing Sucesos ***/
header.masthead {
  text-align: center;
  color: white;
  background-repeat: repeat;
  background-position: top center;
  background-size: contain;
  min-height: -webkit-fill-available;
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-bottom-color: #352f31;
  min-height: 880px;
}
.topbar {
  margin-top: 85px;
  background-color: #352f31;
}
div.logosucesos {
  margin-top: 5px;
  margin-bottom: 10px;
}
.fjalla {
  font-family: "Fjalla One", sans-serif !important;
}
/** LANDING SUCESOS **/
div.landing-sucesos-section-header {
  background-color: #352f31;
  color: #fff;
  font-size: 1.25rem;
}
div.landing-sucesos-section-header img {
  position: relative;
  top: 5px;
  height: 130%;
  width: auto;
}
div.landing-sucesos-section-stats {
  background-color: #978766;
}
div.landing-sucesos-section-stats span.stat-icon {
  font-size: 100px;
  color: #ebd9b3;
}
div.landing-sucesos-section-stats div.stat-text {
  font-size: 110px;
  color: #ebd9b3;
  margin-top: 40px;
  font-family: "Fjalla One", sans-serif !important;
}
div.landing-sucesos-section-como {
  background-color: #ebd9b4;
}
div.landing-sucesos-section-como .texto {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  font-size: 22px;
  font-weight: 400;
}
div.landing-sucesos-section-volumenes {
  padding: 100px;
}
table.tabla-sucesos-volumenes img {
  width: 200px;
  height: auto;
}
div.landing-sucesos-section-docentes {
  background-color: #d4d4d4;
  padding: 100px;
}
div.landing-sucesos-section-docentes p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  font-size: 1.5rem;
  font-weight: 400;
}
div.landing-sucesos-section-poncho{
  background-repeat: repeat-x;
  width: 100%;
}
div.landing-sucesos-section-app{
  color: #000;
  background-repeat: round;
}
div.landing-sucesos-section-app section{
  margin-top: 100px;
  margin-bottom: 50px;
}
div.landing-sucesos-section-app a.app-download-link{
  color:#FFF;
  font-size: 28px;
}
/** FIN LANDING SUCESOS **/

/** LANDING NOMS **/
div.landing-noms-section-header {
  background-color: #352f31;
  color: #fff;
  font-size: 1.25rem;
  max-height: 100px;
}
div.landing-noms-section-header img.logo-noms{
  position: relative;
  max-height:200px;
  width: auto;
}
div.landing-noms-section-header .texto-header-noms{
  color:#f0f453;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 24px;
}
div.landing-noms-section-stats {
  background-color:  #51d4de;
  color: #000;
}
div.landing-noms-section-como{
  background-color: #28b7c7;
}

div.landing-noms-section-stats .stat-icon {
  font-size: 100px;
  color: #333;
}
div.landing-noms-section-stats div.stat-text {
  font-size: 110px;
  color: #333;
  margin-top: 40px;
}
div.landing-noms-section-como img.noms-diagrama{
  max-width: 600px;
  height: auto;
  float: right;
}
/** FIN LANDING NOMS **/

/** LANDING ARS **/
div.landing-ars-section-main{
  background-color: #000;
  background-repeat: repeat-x;
  width: 100%;
}
div.landing-ars-section-stats{
  background-color: #333;
}
h5.texto-header-ars{
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 32px;
}
div.landing-ars-section-stats div.stat-text-age{
  color: white;
  font-size: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
}
div.landing-ars-section-stats span.stat-icon {
  font-size: 100px;
  color: #EEE;
}
div.landing-ars-section-stats .stat-text{
  color: #EEE;
}
div.landing-ars-section-como img.ars-fichas{
  float:right;
}
div.landing-ars-section-como div.ars-periodos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
div.landing-ars-section-como div.ars-periodos div.periodo-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/** FIN LANDING ARS **/

img.pack {
  position: relative;
  top: 5px;
  height: 600px;
  width: auto;
}
div.frase h1 {
  padding-top: 50px;
  color: #212529;
  font-size: 55px;
}
.copete {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 24px;
  color: #212529;
  line-height: 30px;
}

.copyico {
  padding-top: 17px;
}

.txt-beige {
  color: #ebd9b3;
  font-size: 1.5rem;
}
.txt-beige-sub {
  color: #ebd9b3;
  font-size: 1rem;
}

.stat-subtext {
  font-size: 25px;
  margin-top: 55px;
}

.redondeado {
  border-radius: 12px;
}
.bkg-blanco {
  background-color: #ffffff;
  margin: 50px;
  padding: 20px;
}

div.backgroundCartas {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.img-responsive {
  width: 100%;
  height: auto;
}
img.img-mate {
  width: 15%;
  height: auto;
  float: right;
}

.carousel{
  width:900px;
  height:500px;
  margin: auto;
}
.carousel-container{
  display: flex;
  justify-content: center;
}
.carousel-item img{
  border-radius: 25px;
}
.carousel-caption{
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: right;
}

/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


img.navbar-logo {
    width: 16%;
    display: inline-flex !important;
}

.fjalla{font-family: 'Fjalla One', sans-serif;}


.logo-txt {
    font-family: 'Fjalla One', sans-serif;
    font-size: x-large;
    -webkit-font-smoothing: none;
    color: #fff;
    text-decoration: none;
}

a .logo-txt {
       text-decoration: none; 
    display: contents;
}

a {
    text-decoration: none !important;
}

.tagline-txt {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 14px;
    -webkit-font-smoothing: none;
    color: #fff;
    text-transform: lowercase;
    display: contents;
}

.navbar-dark .navbar-nav .nav-link {
        font-family: sans-serif;
    font-size: 14px;
    text-transform: lowercase;
}